{
    "port": 1337,
    "database": {
        "sequelize": {
            "name": "Accounts",
            "username": "<FILL ME IN>",
            "password": "<FILL ME IN>",
            "host": "<FILL ME IN>",
            "port": "<FILL ME IN>",
            "database": "<FILL ME IN>",
            "dialect": "mariadb"
        },
        "responseCache": {}
    }
}
